---
title: Fleurs persistantes
recueil: true
---

{% include head.html %}
{% include nav.html %}
{% include nav-recueils.html %}

<main class="container grid-poems">
  {% include nav-poemes.html category="fleurspersistantes" %}
  <article>
    <h2>{{ page.title }}</h2><br>
    <p>Ecrits entre 2009 et 2011. Principalement des poèmes amoureux et érotiques.</p><br>
    <blockquote class="blockquote text-right">
      <p><em>je suis devant ce paysage féminin<br>
      comme une branche dans le feu </em></p>
      <footer class="blockquote-footer">Paul Éluard</footer>
    </blockquote>
  </article>
</main>

{% include footer.html %}