<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} | All" href="{{ '/feeds/feed-all.xml' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} | Poems" href="{{ '/feeds/feed-poems.xml' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} | Articles" href="{{ '/feeds/feed-articles.xml' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} | Articles en" href="{{ '/feeds/feed-articles-en.xml' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} | Articles fr" href="{{ '/feeds/feed-articles-fr.xml' | relative_url }}">
