<aside class="sidebar">
    <nav aria-label="Poems pagination">
      <ul class="pagination">
        {% if layout.recueil %}
          {% assign post = site.categories[include.nomrecueil].last %}
            <div style="height: 38px;"><li class="page-item"><a class="page-link" href="{{ post.url }}">commencer la lecture</a></li></div>
        {% else %}
          {% assign prev = "" %}
          {% assign next = "" %}
          {% assign stop = false %}
          {% for post in site.posts %}
            {% if post == page %}
              {% assign stop = true %}
            {% elsif post.categories == page.categories %}
              {% if stop %}
                {% assign prev = post.url %}
                {% break %}
              {% else %}
                {% assign next = post.url %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <li class="page-item{% if prev == '' %} disabled noselect{% endif %}"><a class="page-link" href="{{ prev }}">précédent</a></li>
          <li class="page-item{% if next == '' %} disabled noselect{% endif %}"><a class="page-link" href="{{ next }}">suivant</a></li>
        {% endif %}
      </ul>
    </nav>

  <nav class="card" aria-label="Poems navigation">
    <div class="card-header">
      {% assign nomrecueil = include.nomrecueil %}
        <ul>
          {% for category in site.categories %}
            {% assign catfirst = category | first %}
            {% if nomrecueil contains catfirst %}
              {% for poems in category %}
                {% for post in poems reversed %}
                  <li><a class="{% if page.url == post.url %}{{ 'current' }}{% endif %}" href="{{ post.url }}">{{ post.title }}{% if page.url == post.url %}{{ <span class="sr-only">(current)</span> }}{% endif %}</a></li>
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
    </div>
  </nav>
</aside>
