<aside class="sidebar">
    <nav aria-label="Poems pagination">
      <ul class="pagination">
        {% if layout.recueil %}
          {% for post in site.categories.[include.nomrecueil] reversed offset:2 %}
            <div style="height: 38px;"><li class="page-item"><a class="page-link" href="{{ post.url }}">commencer la lecture</a></li></div>
          {% endfor %}
        {% else %}
          {% assign prev = "" %}
          {% assign next = "" %}
          {% assign stop = false %}
          {% for post in site.posts %}
            {% if post == page %}
              {% assign stop = true %}
            {% elsif post.categories == page.categories %}
              {% if stop %}
                {% assign prev = post.url %}
                {% assign pTitle = post.title %}
                {% break %}
              {% else %}
                {% assign next = post.url %}
                {% assign nTitle = post.title %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <li class="page-item{% if prev == '' %} disabled noselect{% endif %}"><a class="page-link" href="{{ prev }}">précédent</a></li>
          <li class="page-item{% if next == '' %} disabled noselect{% endif %}"><a class="page-link" href="{{ next }}">suivant</a></li>
        {% endif %}
      </ul>
    </nav>

  <nav class="card" aria-label="Poems navigation">
    <div class="card-header">
      <ul>
        {% for post in site.categories.[include.nomrecueil] reversed %}
          <li><a class="current" href="{{ post.url }}">{{ post.title }} <span class="sr-only">(current)</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</aside>
