<nav class="nav-recueils" aria-label="Collections navigation">
  <ul class="breadcrumb">
    {% for link in site.data.nav.recueils %}
      {% assign link-url = link.title | slugify %}
      {% assign link-url-folder = link-url | prepend: '/' | append: '/' %}
      <li class="breadcrumb-item{% if page.url contains link-url-folder %}{{ ' active' }}{% endif %}"><a href="{{ link-url | prepend: 'poems/' | absolute_url }}/">{{ link.title }}{% if page.url contains link-url-folder %}{{ ' <span class="sr-only">(current)</span>'}}{% endif %}</a></li>
    {% endfor %}
  </ul>
</nav>
