<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light" aria-label="Main navigation">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar-nav mr-auto">
          {% for link in site.data.nav.left %}
            {% assign link-url = link.title | slugify %}
            {% assign link-url-folder = link-url | prepend: '/' | append: '/' %}
            <a class="nav-item nav-link{% if page.url contains link-url-folder %}{{ ' active' }}{% endif %}" href="{{ link-url | relative_url }}">{{ link.title }}{% if page.url contains link-url-folder %}{{ ' <span class="sr-only">(current)</span>'}}{% endif %}</a>
          {% endfor %}
        </div>
        <div class="nav-right navbar-nav">
          {% for link in site.data.nav.right %}
            {% assign link-url = link.title | slugify %}
            {% assign link-url-folder = link-url | prepend: '/' | append: '/' %}
            <a class="nav-item nav-link{% if page.url contains link-url-folder %}{{ ' active' }}{% endif %}" href="{{ link-url | relative_url }}">{{ link.title }}{% if page.url contains link-url-folder %}{{ ' <span class="sr-only">(current)</span>'}}{% endif %}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</header>
