/************************************************************
 MISC
************************************************************/
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  cursor: default;
}

a:focus, a:hover {
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.anchorjs-link, .anchorjs-link:hover {
  color: #c4d1dc;
}

.anchorjs-link {
  transition: all .15s ease-in-out;
}

/************************************************************
 CONTAINER
************************************************************/
main.container {
  max-width: 1140px;
  margin-bottom: 112px;
}

@media (min-width: 576px) {
  main.container {
  ! max-width: none;
  }
}

@media (min-width: 768px) {
  main.container {
  ! max-width: none;
  }
}

@media (min-width: 992px) {
  main.container {
  ! max-width: none;
  }
}

/************************************************************
 GRID
************************************************************/
.grid-poems {
  display: grid;
  grid-template:
    "article"
    "aside";
}

.grid-apps {
  display: grid;
  grid-gap: 3rem;
  grid-template-rows: repeat(auto-fill, auto);
}

@media (min-width: 768px) {
  .grid-poems {
    grid-template: "aside article" / 280px 1fr;
  }

  .grid-apps {
    grid-template-columns: repeat(auto-fill, 300px);
    max-width: 1140px;
  }
}

/************************************************************
 NAV
************************************************************/
.navbar {
  margin-bottom: 56px;
}

.navbar .container {
  max-width: 1108px;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-recueils {
  margin-bottom: 56px;
}

.nav-recueils .breadcrumb {
   border-radius: 0px;
   margin-bottom: 0px;
}

.nav-recueils ul {
	 margin-top: -56px;
   justify-content: center;
}

.nav-recueils ul li.active a {
  color: #6c757d;
}

.nav-subtext {
  margin-top: -40px;
	font-size: 24px;
  font-family: 'Caveat', cursive;
}

.nav-subtext img {
	width: 30px;
	padding-bottom: 10px;
}

/************************************************************
 SIDEBAR
************************************************************/
.sidebar {
  grid-area: aside;
  margin-top: 5px;
}

.sidebar .pagination {
  justify-content: center;
}

.sidebar nav  {
  display: grid;
}

.sidebar nav.card {
  min-width: 210px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.sidebar nav.card ul {
  margin-bottom: 0px;
  padding-left: 10px;
}

.sidebar nav .card-header {
  border-bottom: none;
}

nav.card .card-header ul {
  list-style-type: none;
}

.sidebar .current {
	border-bottom: 1px dotted;
}

/************************************************************
 TOC
************************************************************/
#toc {
  max-width: 300px;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  /*border-radius: .25rem;*/
  margin-bottom: 1rem;
  /*margin-top: 2rem;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.toc-list:first-child {
  padding-right: 10px;
  padding-left: 10px;
}

.toc-list {
  padding-right: 0;
  padding-left: 2rem;
}

a.toc-link {
    color: #007bff;
}

a.toc-link:hover {
    color: #0056b3;
}

#toc ul li{
  list-style-type: none;
}

/************************************************************
 ARTICLE
************************************************************/
article {
  grid-area: article;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

article.home {
  text-align: center;
  max-width: none;
}

.grid-poems article  {
    margin: 0;
  }

.grid-poems article p {
  margin-bottom: 1.25em;
}

@media (min-width: 768px) {
  article {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 650px) {
  article {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .grid-poems article  {
    margin-left: 100px;
  }

  article.home {
    padding-top: 100px;
  }
}

/************************************************************
 BLOCKQUOTE
************************************************************/
.blockquote {
  font-size: inherit;
}

.blockquote-footer {
  font-size: inherit;
}

.grid-poems blockquote, .grid-poems .blockquote-footer {
  text-align: right !important;
  font-style: italic;
}

.grid-poems .blockquote-footer {
  font-style: normal;
}

/************************************************************
 FOOTER
************************************************************/
.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
